In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [2]:
data = pd.read_csv("marktplc_training.csv")

In [3]:
data.head(10)

,portal,id,created_at,user_id,listing_price_eur_fixed,status,sale_time,gmv_eur_fixed,brand,brand_is_verified,...,first_listing_local_date,listing_platform,registration_platform,registration_local_date,total_positive_feedback_count,total_negative_feedback_count,window_items_listed,window_items_bought,window_items_sold,listings_in_first_7days_detailed
0,fr,1327185072,2019-08-13 10:12:04,110132322,20.0,d. Very good,NaN,NaN,NaN,False,...,2019-02-20,iphone,iphone,2019-02-20,7,0,96,1,7,c. 2-5 listings
1,fr,1435162762,2019-08-07 09:35:10,100878662,2.5,c. Mint,NaN,NaN,jbc,True,...,2019-07-24,iphone,iphone,2019-07-24,11,0,688,7,22,h. 101-500 listings
2,fr,1223939862,2019-08-10 14:16:24,100278072,10.0,c. Mint,NaN,NaN,Pour moi,True,...,2019-08-10,android,android,2019-08-10,0,0,0,0,0,e. 11-20 listings
3,fr,1015951762,2019-08-06 21:57:17,120649022,20.0,c. Mint,NaN,NaN,Bebe confort,False,...,2019-02-13,iphone,iphone,2019-02-13,4,0,0,0,0,d. 6-10 listings
4,fr,1052026072,2019-08-13 11:17:25,120062171,1.0,c. Mint,NaN,NaN,Kimbaloo,True,...,2019-06-06,android,iphone,2018-05-21,14,0,168,10,21,a. Didn't list over first 7d
5,fr,1159724972,2019-08-26 18:10:03,110688831,5.0,b. New,NaN,NaN,NaN,False,...,2019-08-08,android,android,2017-09-21,11,0,21,4,6,a. Didn't list over first 7d
6,fr,1621402182,2019-08-29 13:40:54,120051541,2.0,c. Mint,NaN,NaN,Jennyfer,True,...,2017-11-09,iphone,iphone,2017-11-09,3,3,0,0,0,d. 6-10 listings
7,fr,1474625082,2019-08-28 13:51:55,120415481,18.0,a. New with tags,NaN,NaN,Chanel,True,...,2018-11-11,iphone,iphone,2018-09-09,119,7,306,18,48,a. Didn't list over first 7d
8,fr,1101201282,2019-08-30 18:00:37,120613962,5.0,c. Mint,NaN,NaN,La Redoute,True,...,2019-08-04,web (desktop or other),web (desktop or other),2019-08-04,9,0,28,9,4,e. 11-20 listings
9,fr,1517800182,2019-08-29 09:37:27,110235241,1.0,c. Mint,NaN,NaN,Pony,True,...,2018-09-06,android,android,2017-10-19,35,0,32,1,8,a. Didn't list over first 7d

In [4]:
data.columns

Index(['portal', 'id', 'created_at', 'user_id', 'listing_price_eur_fixed',
       'status', 'sale_time', 'gmv_eur_fixed', 'brand', 'brand_is_verified',
       'declined_at', 'color_primary', 'listing_quality_string',
       'suggested_price_maximum', 'catalog_code_1', 'catalog_code_2',
       'catalog_code_3', 'catalog_code_4', 'catalog_code_5', 'gender',
       'country_code', 'lister_nth_listing', 'first_listing_local_date',
       'listing_platform', 'registration_platform', 'registration_local_date',
       'total_positive_feedback_count', 'total_negative_feedback_count',
       'window_items_listed', 'window_items_bought', 'window_items_sold',
       'listings_in_first_7days_detailed'],
      dtype='object')

In [5]:
# Calculate the percentage of missing values for each column
missing_values = data.isnull().mean() * 100

# Sort missing values in descending order for better understanding
missing_values_sorted = missing_values.sort_values(ascending=False)
missing_values_sorted

declined_at                         97.309346
catalog_code_5                      95.283790
sale_time                           71.058420
gmv_eur_fixed                       71.058420
listing_quality_string              48.610183
suggested_price_maximum             25.165766
brand                               21.666155
catalog_code_4                      19.694349
color_primary                        6.852427
gender                               5.532169
catalog_code_3                       1.052639
lister_nth_listing                   0.000000
total_positive_feedback_count        0.000000
total_negative_feedback_count        0.000000
registration_local_date              0.000000
registration_platform                0.000000
listing_platform                     0.000000
window_items_listed                  0.000000
window_items_bought                  0.000000
window_items_sold                    0.000000
first_listing_local_date             0.000000
portal                               0.000000
country_code                         0.000000
id                                   0.000000
catalog_code_2                       0.000000
catalog_code_1                       0.000000
brand_is_verified                    0.000000
status                               0.000000
listing_price_eur_fixed              0.000000
user_id                              0.000000
created_at                           0.000000
listings_in_first_7days_detailed     0.000000
dtype: float64

In [6]:
# Drop columns with very high missing values
data_cleaned = data.drop(columns=['declined_at', 'catalog_code_5','portal'])

In [7]:
# Fill missing categorical data with "Unknown"
categorical_columns = ['brand', 'color_primary', 'gender', 'listing_quality_string']
data_cleaned[categorical_columns] = data_cleaned[categorical_columns].fillna('Unknown')

In [8]:
# Fill missing numerical data
# Fill 'suggested_price_maximum' with the median value
data_cleaned['suggested_price_maximum'] = data_cleaned['suggested_price_maximum'].fillna(
    data_cleaned['suggested_price_maximum'].median())

In [9]:
# Fill 'gmv_eur_fixed' with 0 (assuming missing values mean no sale)
data_cleaned['gmv_eur_fixed'] = data_cleaned['gmv_eur_fixed'].fillna(0)

In [10]:
# Check the missing values after cleaning
missing_values_after_cleaning = data_cleaned.isnull().mean() * 100

missing_values_after_cleaning.sort_values(ascending=False)

sale_time                           71.058420
catalog_code_4                      19.694349
catalog_code_3                       1.052639
window_items_sold                    0.000000
window_items_bought                  0.000000
window_items_listed                  0.000000
total_negative_feedback_count        0.000000
total_positive_feedback_count        0.000000
registration_local_date              0.000000
registration_platform                0.000000
listing_platform                     0.000000
first_listing_local_date             0.000000
lister_nth_listing                   0.000000
country_code                         0.000000
gender                               0.000000
id                                   0.000000
created_at                           0.000000
catalog_code_2                       0.000000
catalog_code_1                       0.000000
suggested_price_maximum              0.000000
listing_quality_string               0.000000
color_primary                        0.000000
brand_is_verified                    0.000000
brand                                0.000000
gmv_eur_fixed                        0.000000
status                               0.000000
listing_price_eur_fixed              0.000000
user_id                              0.000000
listings_in_first_7days_detailed     0.000000
dtype: float64

In [18]:
# Convert date columns to datetime format for easier processing
data_cleaned['created_at'] = pd.to_datetime(data_cleaned['created_at'])
#data_cleaned['sale_time'] = pd.to_datetime(data_cleaned['sale_time'], errors='coerce')  # Coerce errors for NaT values
data_cleaned['first_listing_local_date'] = pd.to_datetime(data_cleaned['first_listing_local_date'])
data_cleaned['registration_local_date'] = pd.to_datetime(data_cleaned['registration_local_date'])
data_cleaned['registration_local_date'].head(10)

0   2019-02-20
1   2019-07-24
2   2019-08-10
3   2019-02-13
4   2018-05-21
5   2017-09-21
6   2017-11-09
7   2018-09-09
8   2019-08-04
9   2017-10-19
Name: registration_local_date, dtype: datetime64[ns]

In [20]:
# Feature 1: Time to sell (difference between created_at and sale_time)
#data_cleaned['time_to_sell'] = (data_cleaned['sale_time'] - data_cleaned['created_at']).dt.days

# Create a new target variable 'sold'
data_cleaned['sold'] = data_cleaned['sale_time'].notna().astype(int)
data_cleaned['sold'].value_counts()

sold
0    314641
1    128151
Name: count, dtype: int64

In [24]:
# Feature 2: Age of the listing (difference between today and created_at)
data_cleaned['listing_age'] = (pd.Timestamp.now() - data_cleaned['created_at']).dt.days
data_cleaned['listing_age'].sort_values(ascending=True)

251818    1912
108698    1912
337363    1912
442267    1912
228644    1912
          ...
108131    1943
360563    1943
152235    1943
152096    1943
257185    1943
Name: listing_age, Length: 442792, dtype: int64

In [25]:
# Feature 3: User account age (difference between today and registration date)
data_cleaned['user_account_age'] = (pd.Timestamp.now() - data_cleaned['registration_local_date']).dt.days
data_cleaned['user_account_age'].sort_values(ascending=False)

28461     4265
308587    4265
244575    4265
75626     4261
288516    4261
          ...
291292    1913
406928    1913
238487    1913
382772    1913
252095    1913
Name: user_account_age, Length: 442792, dtype: int64

In [15]:
# Preview the new features
#data_cleaned[['time_to_sell', 'listing_age', 'user_account_age']].head()

In [30]:
# Add behavioral features

# Positive feedback ratio
data_cleaned['positive_feedback_ratio'] = data_cleaned['total_positive_feedback_count'] / (
    data_cleaned['total_positive_feedback_count'] + data_cleaned['total_negative_feedback_count']
)
data_cleaned['positive_feedback_ratio'] = data_cleaned['positive_feedback_ratio'].fillna(0)  # Handle NaN
data_cleaned['positive_feedback_ratio'].value_counts()

positive_feedback_ratio
1.000000    208099
0.000000     97932
0.857143      1672
0.916667      1538
0.923077      1536
             ...
0.998665         1
0.994987         1
0.962222         1
0.996583         1
0.978693         1
Name: count, Length: 3206, dtype: int64

In [31]:
# Negative feedback ratio
data_cleaned['negative_feedback_ratio'] = data_cleaned['total_negative_feedback_count'] / (
    data_cleaned['total_positive_feedback_count'] + data_cleaned['total_negative_feedback_count']
)
data_cleaned['negative_feedback_ratio'] = data_cleaned['negative_feedback_ratio'].fillna(0)  # Handle NaN
data_cleaned['negative_feedback_ratio'].value_counts()

negative_feedback_ratio
0.000000    304682
0.142857      1672
0.083333      1538
0.076923      1536
0.058824      1508
             ...
0.001335         1
0.005013         1
0.037778         1
0.003417         1
0.021307         1
Name: count, Length: 3206, dtype: int64

In [32]:
# Sales success ratio
data_cleaned['sales_success_ratio'] = data_cleaned['window_items_sold'] / data_cleaned['window_items_listed']
data_cleaned['sales_success_ratio'] = data_cleaned['sales_success_ratio'].fillna(0)  # Handle NaN

# Replace infinite values in the 'sales_success_ratio' column with NaN
data_cleaned['sales_success_ratio'].replace([float('inf'), float('-inf')], float('nan'), inplace=True)
# Fill NaN values with 0
data_cleaned['sales_success_ratio'].fillna(0, inplace=True) 

data_cleaned['sales_success_ratio'].value_counts()

sales_success_ratio
0.000000    120899
0.500000      7970
0.333333      7550
1.000000      7000
0.250000      6522
             ...
0.145278         1
0.077821         1
0.145540         1
0.561798         1
4.666667         1
Name: count, Length: 8930, dtype: int64

In [33]:
# Preview the new features
data_cleaned[['positive_feedback_ratio', 'negative_feedback_ratio', 'sales_success_ratio']].head(10)

   positive_feedback_ratio  negative_feedback_ratio  sales_success_ratio
0                 1.000000                 0.000000             0.072917
1                 1.000000                 0.000000             0.031977
2                 0.000000                 0.000000             0.000000
3                 1.000000                 0.000000             0.000000
4                 1.000000                 0.000000             0.125000
5                 1.000000                 0.000000             0.285714
6                 0.500000                 0.500000             0.000000
7                 0.944444                 0.055556             0.156863
8                 1.000000                 0.000000             0.142857
9                 1.000000                 0.000000             0.250000

In [35]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

nominal_columns = ['country_code', 'color_primary']
ordinal_columns = ['status', 'listing_quality_string']

# Apply Label Encoding to nominal columns
for col in nominal_columns:
    data_cleaned[col] = label_encoder.fit_transform(data_cleaned[col])

# If you also want to apply Label Encoding to the ordinal columns (if they are categorical),
# you can do the same for those columns as well (optional, depending on the data).

for col in ordinal_columns:
    data_cleaned[col] = label_encoder.fit_transform(data_cleaned[col])

# Now the data is encoded with Label Encoding for both nominal and ordinal columns.

# We can also encode the 'brand' column, but if there are many categories we can only select the most important brands
# If there is a lot of unique value, it is useful to select only the most common brands and separate the rest as 'other'.
top_brands = data_cleaned['brand'].value_counts().nlargest(10).index  # The 10 most common brands
data_cleaned['brand'] = data['brand'].apply(lambda x: x if x in top_brands else 'other')
data_cleaned = pd.get_dummies(data_cleaned, columns=['brand'], drop_first=True)

In [36]:
data_cleaned["brand_other"].value_counts()

brand_other
True     360533
False     82259
Name: count, dtype: int64

In [37]:
# Check for non-numeric columns in the dataset
non_numeric_columns = data_cleaned.select_dtypes(exclude=['number']).columns

# Apply Label Encoding to each non-numeric column in data_cleaned
for col in non_numeric_columns:
    data_cleaned[col] = label_encoder.fit_transform(data_cleaned[col])  # Fit and transform on the entire dataset

In [38]:
# Convert the 'status' column to numeric data
data_cleaned['status'] = label_encoder.fit_transform(data_cleaned['status'])
data_cleaned['status'].value_counts()

status
2    252905
1     73251
3     68423
0     40166
4      8047
Name: count, dtype: int64

In [24]:
# Check for datetime columns
datetime_columns = data_cleaned.select_dtypes(include=['datetime']).columns

# Convert datetime columns to numeric values (e.g., Unix timestamp or individual components)
for col in datetime_columns:
    # Convert to Unix timestamp (seconds since 1970-01-01)
    data_cleaned[col] = data_cleaned[col].astype('int64') // 10**9  # Converting to seconds

    # Or, alternatively, could extract individual components like year, month, day
    # data_cleaned[f'{col}_year'] = data_cleaned[col].dt.year
    # data_cleaned[f'{col}_month'] = data_cleaned[col].dt.month
    # data_cleaned[f'{col}_day'] = data_cleaned[col].dt.day
    # data_cleaned = data_cleaned.drop(columns=[col])  # Drop original datetime column if needed

# Now proceed with encoding the categorical columns as before and fitting the model

In [39]:
data_cleaned = data_cleaned.drop(columns="sale_time")
correlations = data_cleaned.corrwith(data_cleaned['sold'])
correlations_sorted = correlations.sort_values(ascending=False)
print(correlations_sorted)

sold                                1.000000
gmv_eur_fixed                       0.251380
window_items_sold                   0.115595
total_positive_feedback_count       0.101739
sales_success_ratio                 0.089173
positive_feedback_ratio             0.088679
window_items_bought                 0.087251
suggested_price_maximum             0.079221
brand_is_verified                   0.073019
total_negative_feedback_count       0.070351
user_account_age                    0.057828
country_code                        0.051880
brand_Nike                          0.051319
lister_nth_listing                  0.027079
registration_platform               0.026536
brand_Zara                          0.019862
brand_Disney                        0.017450
brand_Tape à l’œil                  0.016438
color_primary                       0.014993
listing_age                         0.014672
window_items_listed                 0.012721
negative_feedback_ratio             0.007921
listing_price_eur_fixed             0.002605
listing_platform                    0.001225
id                                  0.001112
catalog_code_4                      0.000774
brand_Kiabi                        -0.001360
brand_ORCHESTRA                    -0.011828
created_at                         -0.014877
listings_in_first_7days_detailed   -0.014881
catalog_code_3                     -0.015980
brand_H&M                          -0.022226
brand_Pimkie                       -0.027458
brand_other                        -0.027977
user_id                            -0.028031
gender                             -0.041063
catalog_code_1                     -0.046598
catalog_code_2                     -0.052305
listing_quality_string             -0.056762
registration_local_date            -0.058265
first_listing_local_date           -0.059753
status                             -0.069377
dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, fbeta_score, confusion_matrix
from sklearn.preprocessing import StandardScaler

# Define target variable (assuming 'sold' is the binary target: sold=1, not sold=0)
target = 'sold'  # Adjust if your target column has a different name or encoding
X = data_cleaned.drop(columns=[target])
y = data_cleaned[target]

# Split the data into training and test sets (80-20 split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# Apply scaling to the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Model list
models = {
    "Logistic Regression": LogisticRegression(max_iter=1000, C=1.0, penalty='l2', random_state=42),
    "Decision Tree": DecisionTreeClassifier(max_depth=7, min_samples_split=10, min_samples_leaf=5, random_state=42),
    "Random Forest": RandomForestClassifier(n_estimators=200, max_depth=10, min_samples_split=10, min_samples_leaf=5, max_features='sqrt', random_state=42),
    "K-Nearest Neighbors": KNeighborsClassifier(),
    "Support Vector Machine": SVC(kernel='linear', random_state=42)
}

# A dictionary to train all models and keep the evaluation results
results = {}

for model_name, model in models.items():
    print(f"\nTraining {model_name}...")

    # Fit the model on the training set
    model.fit(X_train_scaled, y_train)

    # Predict on the test set
    y_pred = model.predict(X_test_scaled)

    # Calculating performance metrics
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    f2 = fbeta_score(y_test, y_pred, beta=2)

    results[model_name] = {
        "Accuracy": accuracy,
        "Precision": precision,
        "Recall": recall,
        "F1 Score": f1,
        "F2 Score": f2
    }

    # Cross-validation scores
    cv_scores = cross_val_score(model, X_train_scaled, y_train, cv=5)  # 5-fold cross-validation
    print(f"Cross-validation scores: {cv_scores}")
    print(f"Mean CV score: {cv_scores.mean()}")

    # Printing performance metrics
    print(f"{model_name} Performance Metrics:")
    print(f"Accuracy: {accuracy:.4f}")
    print(f"Precision: {precision:.4f}")
    print(f"Recall: {recall:.4f}")
    print(f"F1 Score: {f1:.4f}")
    print(f"F2 Score: {f2:.4f}")

    # Confusion Matrix
    conf_matrix = confusion_matrix(y_test, y_pred)
    print("Confusion Matrix:")
    print(conf_matrix)

# Show results as a DataFrame
results_df = pd.DataFrame(results).T
print("\nModel Comparison:")
print(results_df)

Training Logistic Regression...
Cross-validation scores: [0.99607605 0.99566672 0.99548322 0.99611834 0.99624538]
Mean CV score: 0.9959179425062981
Logistic Regression Performance Metrics:
Accuracy: 0.9964
Precision: 1.0000
Recall: 0.9876
F1 Score: 0.9937
F2 Score: 0.9900
Confusion Matrix:
[[62929     0]
 [  319 25311]]

Training Decision Tree...
Cross-validation scores: [1. 1. 1. 1. 1.]
Mean CV score: 1.0
Decision Tree Performance Metrics:
Accuracy: 1.0000
Precision: 1.0000
Recall: 1.0000
F1 Score: 1.0000
F2 Score: 1.0000
Confusion Matrix:
[[62929     0]
 [    0 25630]]

Training Random Forest...
Cross-validation scores: [0.99998589 1.         1.         1.         1.        ]
Mean CV score: 0.9999971770152583
Random Forest Performance Metrics:
Accuracy: 1.0000
Precision: 1.0000
Recall: 1.0000
F1 Score: 1.0000
F2 Score: 1.0000
Confusion Matrix:
[[62929     0]
 [    0 25630]]

Training K-Nearest Neighbors...
Cross-validation scores: [0.73497819 0.73828108 0.73565571 0.73713407 0.73741637]
Mean CV score: 0.7366930838297552
K-Nearest Neighbors Performance Metrics:
Accuracy: 0.7406
Precision: 0.5819
Recall: 0.3677
F1 Score: 0.4507
F2 Score: 0.3969
Confusion Matrix:
[[56159  6770]
 [16206  9424]]

Training Support Vector Machine...